html,
body {
  padding: 0;
  margin: 0;
  background-color: #180e3f;
  overflow-x: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}
